.weather-app {
  background: url("../images/bluredBG.png") no-repeat center;
  background-size: cover;
  height: 100vh;
  position: absolute;
  width: 100%;
}

.weather-main {
  margin-top: 83px;
  display: flex;
  justify-content: space-between;
}

.temperature-block {
  position: relative;
  width: 719px;
  height: 719px;
  background: url("../images/tempBLOCK.svg");
  border-radius: 10.6519px;

  .clouds-temp {
    position: absolute;
    top: -20%;
    left: -17%;
  }

  .city{
    display: flex;
    margin-right: 38px;
    justify-content: flex-end;
    padding-top: 53px;

    h2 {
      font-family: 'Lato', serif;
      font-style: normal;
      font-weight: 700;
      font-size: 39.5184px;
      line-height: 47px;
      display: flex;
      align-items: center;
      text-align: right;
      color: #C2BFF4;
      margin-left: 23.5px;
    }
  }

  .temperatures {
    margin-top: 66px;
    display: flex;
    flex-direction: column;
    align-items: center;

    h1 {
      font-family: 'Lato', serif;
      font-style: normal;
      font-weight: 700;
      font-size: 151.682px;
      line-height: 182px;
      text-align: center;
      color: #FFFFFF;
    }

    .temp-now {
      display: flex;
      justify-content: center;
    }

    .celsius {
      font-family: 'Lato', serif;
      font-style: normal;
      font-weight: 700;
      font-size: 41.3679px;
      line-height: 50px;
      text-align: center;
      color: #DAD8F7;
    }

    .temp-other {
      display: flex;
      margin-right: 30px;
    }

    .temp-day, .temp-tonight {
      font-family: 'Lato', serif;
      font-style: normal;
      font-weight: 700;
      font-size: 34.4733px;
      line-height: 41px;
      text-align: center;
      color: #FFFFFF;
    }

    .temp-tonight {
      color: #C2BFF4;
      margin-left: 10px;
    }
  }

}

.temp-other-info {
  margin-top: 165px;
  margin-right: 20px;
  margin-left: 20px;
  display: flex;
  justify-content: space-between;

  .block-other {
    padding: 15px 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 180px;
    height: 60px;
    background: rgba(102, 96, 200, 0.6);
    border-radius: 7.66933px;

    &:first-child img {
      opacity: .4;
    }

    &:last-child img {
      opacity: .4;
      width: 52px;
      height: 52px;
    }

    .info-other {
      display: flex;
      flex-direction: column;
      margin-left: 17px;

      h3 {
        font-family: 'Lato', serif;
        font-weight: 400;
        font-size: 20px;
        line-height: 24px;
        color: #E7E6FB;
      }

      p {
        font-family: 'Lato', serif;
        font-style: normal;
        font-weight: 700;
        font-size: 23.008px;
        line-height: 28px;
        color: #E7E6FB;
      }
    }
  }
}

.other-blocks {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-content: space-between;
  max-width: 865px;

  .small-top-block {
    position: relative;
    background: #6D67D0;
    border-radius: 10px;
    width: 391px;
    height: 311px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 27px 12px;

    .block-header {
      display: flex;

      .block-title {
        margin-left: 20px;
        font-family: 'Lato', serif;
        font-style: normal;
        font-weight: 700;
        font-size: 33px;
        line-height: 39px;
        color: #DAD8F7;
      }
    }

    .block-subtitle {
      font-family: 'Lato', serif;
      font-style: normal;
      font-weight: 700;
      font-size: 41px;
      line-height: 49px;
      color: #87EBCD;
      margin-top: 35px;
    }

    .small-block-number {
      font-family: 'Lato', serif;
      font-style: normal;
      font-weight: 700;
      font-size: 91px;
      line-height: 110px;
      color: #E7E6FB;
    }

    .suns-info {
      display: flex;
      flex-direction: column;
      margin-top: 55px;

      .sun-info {
        display: flex;
        align-items: center;

        &:last-child {
          margin-top: 68px;
        }

        p {
          font-family: 'Lato', serif;
          font-style: normal;
          font-weight: 700;
          font-size: 25px;
          line-height: 30px;
          color: #FFFFFF;
          margin-right: 16px;
          width: 85px;
        }
        h2 {
          font-family: 'Lato', serif;
          font-style: normal;
          font-weight: 700;
          font-size: 36px;
          line-height: 43px;
          color: #EAEAEA;
          text-align: right;
          width: 109px;
          padding-right: 20px;
        }

        img {
          width: 61px;
        }
      }
    }

  }

  .large-bot-block {
    width: 865px;
    height: 320px;
    background: #6D67D0;
    border-radius: 10px;
    display: flex;

    .week-items {
      width: 100%;
      display: flex;
      padding: 48px 0;
      justify-content: space-around;
      .week-item {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width: 150px;

        img {
          width: 120px;
        }

        h2 {
          font-family: 'Lato', serif;
          font-style: normal;
          font-weight: 700;
          font-size: 23.6116px;
          line-height: 28px;
          text-transform: capitalize;
          color: #DAD8F7;
        }

        .weekday-temps {
          display: flex;

          p {
            font-family: 'Lato', serif;
            font-style: normal;
            font-weight: 700;
            font-size: 27px;
            line-height: 32px;
            color: #FFFFFF;
          }

          .weekday-night-temp {
            color: #C2BFF4;
            margin-left: 5px;
          }
        }
      }
    }
  }
}